.wrapper {
	/* display: inline-block; */
	width: 100%;
}

.tile{
	width: 100%;
	background: #d7dadd;
	border-radius: 5px;
	box-shadow: 0px 0 30px rgba(1, 49, 133, 0.197);
	float:left;
	transform-style: preserve-3d;
	margin: 10px 5px;
}
/* 
.tile:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-top: 5px solid #F3C808;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

.header{
	border-bottom:1px solid #ebeff2;
	background:#103968;
	padding:19px 0;
	text-align:center;
	color:#f2c808;
	font-size:600;
	font-size:19px;	
	position:relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.banner-img {
	padding: 5px 5px 0;
}

.banner-img img {
	width: 100%;
	border-radius: 5px;
}

.dates{
	/* border:1px solid #103968; */
	background:#fff;
	/* box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1); */
	border: 1px solid #10396835;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#103968;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong{
	display:block;
	color:#103968;
	font-size:11px;
	font-weight:700;
}
.stats strong{
	display:block;
	color:#103968;
	font-size:11px;
	font-weight:700;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats{
	border-top:1px solid #10396835;
	background:#fff;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#103968;
	font-weight:600;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom:1px solid #d7dadd;
	border-right:1px solid #d7dadd;
	border-left:1px solid #d7dadd;
}
.stats div{
	border-right:1px solid #d7dadd;
	color: #103968;
	width: 33.33333%;
	float:left;
	text-align:center;
}

.stats div:nth-of-type(3){
	border:none;
}

div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}